:root {
  /* Theme colors */
  --usa-theme-color-base-lightest: var(--usa-system-color-gray-5);
  --usa-theme-color-disabled-lighter: var(--usa-system-color-gray-20);
  --usa-theme-color-disabled-dard: var(--usa-system-color-gray-70);
  --usa-theme-color-error-dark: var(--usa-system-color-red-60v);
  --usa-theme-color-success: var(--usa-system-color-green-cool-40v);
  /* Applied colors */
  --usa-theme-page-background-color: var(--usa-system-color-white);
  --usa-theme-text-color: var(--usa-system-color-ink);
  /* Font weight */
  --usa-theme-text-light: 100;
  --usa-theme-text-bold: 700;
  /* Font family */
  --usa-theme-font-body: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  --usa-theme-grid-container-max-width: var(--usa-system-unit-desktop);
  /* Focus styles */
  --usa-theme-focus-color: var(--usa-system-color-blue-40v);
  --usa-theme-focus-offset: 0;
  --usa-theme-focus-style: solid;
  --usa-theme-focus-width: var(--usa-system-unit-05);
}
