:root {
  background-color: var(--usa-color-white);
  color: var(--usa-color-gray-90);
  color-scheme: light dark;
  font-family:
    "Public Sans Web",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--usa-color-white);
    color: var(--usa-color-gray-90);
  }
}

#storybook-docs {
  .toc-list-item {
    font-size: 0.875rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 0.75rem;
    padding-inline: 0.5rem;

    &::before {
      transform: translateX(calc(-0.875rem));
    }
  }

  pre,
  code {
    font-size: initial;
  }

  :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)),
  :where(li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li)) {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 80ch;
  }

  :where(a:not(.sb-anchor, .sb-unstyled, .sb-unstyled a, .toc-link)) {
    text-decoration: underline;
  }

  .site-note {
    background-color: var(--usa-color-blue-10);
    margin-block-end: 1rem;
    max-width: 80ch;
    padding: 0.75rem;
  }

  .site-note p {
    margin: 0;
  }
}
