---
import {UsaLink} from "../../../src/components/usa-link/index.js";
---

<h1>Astro + Lit</h1>

<UsaLink href="http://designsystem.digital.gov">
  It's dangerous to go alone. Here, take this.
</UsaLink>
