:root {
  --usa-system-color-base-lighter: #dfe1e2;
  --usa-system-unit-2: 1rem;
  --usa-system-unit-3: 1.5rem;
  --usa-system-unit-4: 2rem;
  --usa-system-unit-tablet: 15rem;
  --usa-system-border-radius-lg: 0.5rem
}
