@import "@uswds/tokens/css/system/color.css";

:root {
  --usa-color-base-lightest: var(--usa-color-gray-5);

  --theme-link-color: var(--usa-color-blue-vivid-60);
  --theme-link-hover-color: var(--usa-color-blue-warm-vivid-70);
}
